@font-face{
  font-family: Intro;
  src: url(../fonts/Introv2.0GX.ttf);
}
@font-face{
  font-family: Intro Mono;
  src: url(../fonts/Intro-Monov1.01GX.ttf);
}
@font-face{
  font-family: Solilia;
  src:url(../fonts/SoliliaTest-Extra-Light.otf)
}